<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dagger2.course">

    <application>
        <activity android:name=".BaseCourseModuleActivity"></activity>
        <activity android:name=".courseContent.QuizActivity"/>
        <activity android:name=".CourseActivity"/>
    </application>

</manifest>